<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>User info</h2>


        <%= link_to edit_user_path , class: 'btn btn-outline-dark w-75' do %><i class="fas fa-user-cog "></i><% end %>
      </div>
      <div class="col-lg-8">
        <h2>Books</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="book-title">Title</th>
              <th class="book-body">Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><span><%= book.title %></span></td>
                <td><span><%= book.opinion %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>