<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>User info</h2>


        <%= link_to edit_user_path , class: 'btn btn-outline-dark w-75' do %><i class="fas fa-user-cog "></i><% end %>
      </div>
      <div class="col-lg-8">

      </div>
    </div>
  </div>
</main>